<%# lokaalit tässä tiedostossa: {
    artist: Artist;
    tabData: {widgets: Array<Widget>;};
} %>
<section class="main">
<div class="artist-widgets-list">
<% if (tabData.widgets.length) {
    for (const widget of tabData.widgets) { %>
    <div class="widget <%- widget.type %>"><div>
        <%- include('artist/wall-widget-' + widget.type,
                    Object.assign({widget}, widget.data)); %>
    </div></div>
    <% } %>
<% } else { %>
    <p>Hmm, minimaalista.</p>
<% } %>
</div>
</section>