<%# lokaalit tässä tiedostossa: {
    userName: string;
    useCustomImpl: boolean;
    artist: Artist;
    widget: Widget;
    widgetIndex: number;
} %>
<a class="twitter-timeline" data-width="600" data-height="800" data-dnt="true" data-theme="light" href="https://twitter.com/<%- userName %>">Tweetit käyttäjältä <%- userName %></a>
<% if (!useCustomImpl) { %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% } else { %>
    <script>(function() {
        var status = 0;
        window.artistit.fetch('<%- `${baseUrl}artisti/${artist.id}/render-widget/tweets/${encodeURIComponent(userName)}` %>', {method: 'POST'})
            .then(function(res) {
                status = res.status;
                return res.text();
            })
            .then(function(html) {
                document.getElementById('twitter-feed-<%- widgetIndex %>')
                    .innerHTML = status == 200
                        ? html
                        : 'Jokin meni pieleen.';
            });
    }());</script>
<% } %>