<%# lokaalit tässä tiedostossa: {
    infos: Array<{title: string; text: string;}>;
} %>
<h3 class="icon-h3"><%- featherSvg('info') %><%= widget.title || 'Meistä' %></h3>
<div class="widget-main">
    <ul>
    <% for (const pair of infos) { %>
        <li><%- `${pair.title}: ${pair.text}` %></li>
    <% } %>
    </ul>
</div>