<%# lokaalit tässä tiedostossa: {
    tid: number;
} %>
<h3 class="icon-h3"><%- featherSvg('twitter') %>Twitter</h3>
<div class="widget-main">
    <div>Tweetit käyttäjältä <%- tid %></div>
</div>
<script>(function() {
    // window.artistit.fetch(' `${baseUrl}widget-data/tweets/${tid}` ')
    //     .then(function(res) { return res.json(); })
    //     .then(function(tweets) { tweets.forEach(/*appendToDom*/) })
}());</script>