<%- include('common/layout-header'); %>
<header class="default-background home">
    <h1>artistit.net</h1>
    <p>...</p>
</header>
<section>
    <a href="<%- baseUrl %>artisti/-LkbhE8-_8AZFR1rPgtc">Cehck this out</a>
</section>
<%- include('common/layout-footer'); %>