<%- include('layout-header', {title: 'Tunnistautuminen'}); %>
    <header class="default-background">
        <h1>Tunnistautuminen</h1>
        <p>...</p>
    </header>
    <section class="sub-nav">
        <a href="<%- baseUrl %>auth/github">
            <%- featherSvg('github') %>
            <span>Github</span>
        </a>
    </a>
<%- include('layout-footer'); %>