                <!-- /////////////////////////////////////////////////////// -->
                <footer><div>
                    <section>© 2019 - 2019 artistit.net</section>
                </div></footer>
            </div><%# div %>
        </div><%# div#app %>
        <div class="toast hidden">
            <span></span>
        </div>
        <script src="<%- staticBaseUrl %>artistit.js"></script>
    </body>
</html>