                <!-- /////////////////////////////////////////////////////// -->
                <footer><div>
                    <section>© 2019 - 2019 artistit.net</section>
                </div></footer>
            </div><%# div %>
        </div><%# div#app %>
    </body>
</html>