            <!-- /////////////////////////////////////////////////////// -->
            <footer><div>
                <section>© 2019 - <%- new Date().getFullYear() %> artistit.net</section>
            </div></footer>
        </div><%# div#app %>
        <% if (typeof toastMessage != 'undefined') { %>
        <div class="toast hidden <%- toastMessage.level %>">
            <span><%- toastMessage.message %></span>
        </div>
        <% } %>
        <script src="<%- staticBaseUrl %>artistit.js"></script>
        <script>(function() {
            var userMenuEl = document.querySelector('.user-menu');
            var menuToggleBtn = userMenuEl.querySelector('button');
            if (menuToggleBtn) {
                menuToggleBtn.addEventListener('click', function(e) {
                    e.stopPropagation();
                    userMenuEl.classList.toggle('collapsed');
                });
                document.body.addEventListener('click', function() {
                    userMenuEl.classList.add('collapsed');
                });
            }
        }())</script>
        <script>window.artistit.pageScripts.forEach(function(s) {
            // [0] = fn, [1] = props-objekti
            s[0](s[1]);
        });</script>
    </body>
</html>