/* -- common.css ------------------------------------------------------------ */
@font-face {
    font-family: "Fira sans light";
    src: url("fira-sans-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans medium";
    src: url("fira-sans-medium.woff2") format("woff2"),
         url("fira-sans-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans heavy";
    src: url("fira-sans-heavy.woff2") format("woff2"),
         url("fira-sans-heavy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans medium";
    src: url("fira-sans-medium.woff2") format("woff2"),
         url("fira-sans-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font: normal 14px/14px "Fira sans light";
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
.icon-h3, .icon-h3 input {
    font: normal 20px/43px "Fira sans heavy";
    padding: 0 0 2px 20px;
}
.icon-h3 .feather {
    margin: 0 8px -6px 0;
    width: 24px;
    height: 24px;
}
.feather {
    width: 26px;
    height: 26px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.feather.filled {
    fill: currentColor;
}
.icon-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}
.icon-button.filled {
    background-color: rgb(138, 118, 110);
    border-radius: 15px;
    padding: 5px 2px 5px 5px;
}
.icon-button.filled .feather {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 3px;
}
input[name="sneakySneaky"] {
    display: none;
}
.popup-dialog {
    position: absolute;
    right: -7px;
    padding: 10px;
    min-width: 102px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    top: 33px;
}
.popup-dialog h3 {
    margin-top: 2px;
}
.popup-dialog.light {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.02);
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
table.fixed {
    table-layout: fixed;
}
table th {
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: left;
    font: normal 18px/18px "Fira sans medium";
}
table th:first-child {
    padding-left: 6px;
}
table td {
    padding: 6px 10px 6px 6px;
    text-align: left;
    vertical-align: middle;
}
table tbody td:first-child {
    padding-left: 4px;
}

/* -- layout.css ------------------------------------------------------------ */

#app { max-width: 1200px; margin: 0 auto; }

/* pad: >1200 -> 40, >1000 -> 20, >860 15, >400 -> 10 ?? */
/* <näyttökoonMukaanMuuttuvat> */
header { padding: 40px 20px 10px 20px; }
.top { padding: 0 20px; }
.sub-nav a:first-of-type { margin-left: 20px; }
.main { margin: 20px; }
footer > div { margin: 0 20px; }
/* </näyttökoonMukaanMuuttuvat> */

.top {
    float: left;
    min-height: 40px;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    box-sizing: border-box;
}
.top a {
    color: #fff;
    font: normal 12px/12px "Fira sans light";
}
.user-menu {
    float: right;
    position: relative;
    margin: -7px -12px 0 0;
}
.user-menu > button {
    width: 100%;
}
.user-menu > button .feather {
    float: right;
}
.user-menu.collapsed .popup-dialog {
    display: none;
}
.user-menu a {
    display: block;
    font-size: 14px;
    line-height: 20px;
}


header {
    background-image: linear-gradient(to right, #262521, #4e4e4e);
    background-size: cover;
    color: #fff;
}
header.has-sub-nav {
    padding-bottom: 60px;
}
header h1, header .head-input {
    font: normal 36px/80px "Fira sans heavy";
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    margin: 24px 0;
}
header p, header .tagline-input {
    margin: 14px 0;
}

footer {
    background-color: #54cfff;
    padding: 65px 0;
    margin-top: 15px;
}
footer > div {
    grid-template-columns: 1fr 1fr;
    display: grid;
    max-width: 600px;
    width: 100%;
}
footer section:last-of-type {
    font-size: 12px;
    margin-top: 14px;
    color: #333;
}
footer a {
    display: block;
}

.sub-nav {
    position: relative;
    width: 100%;
    top: -24px;
}
.sub-nav a {
    padding: 10px 20px;
}

/* -- app-main.css ---------------------------------------------------------- */
header.default-background {
    background-image: url("main-background.jpg");
    border-top: 2px solid rgb(104, 207, 255);
}
header.home h1 {
    font-size: 48px;
    margin: 50px 0 0;
}
header.home p {
    margin: 15px 0 40px;
}

h1 .feather {
    color: #fff;
    margin: 0 0 -3px 10px;
}
.head-input, .tagline-input {
    border: none;
    border-bottom: 1px dashed #fff;
    background: transparent;
    color: #fff;
}
.head-input.light {
    color: #333;
    border-color: #666;
}
.tagline-input {
    font: normal 14px/14px "Fira sans light";
    margin-bottom: 24px;
}

/* <artistisivu> */
.artist-widgets-list {
    overflow: hidden;
    position: relative;
    min-height: 54px;
}
.artist-widgets-list.with-header-buttons {
    padding-top: 30px;
}
.artist-widgets-list > div {
    width: 50%;
    float: left;
    position: relative;
}
.artist-widgets-list > div > div {
    position: relative;
    margin: 8px;
}
.artist-widgets-list > div:first-of-type > div,
.artist-widgets-list > div:nth-of-type(3n) > div {
    margin-left: 0;
}
.artist-widgets-list > div:nth-of-type(2n) > div {
    margin-right: 2px; /* 2px = shadow */
}
.artist-widgets-list > div > div > h3 {
    margin-top: 0;
}
.artist-widgets-list > div > div > h3 > input {
    padding: 0 0 0 2px;
    margin-bottom: 6px;
}
.artist-widgets-list > div > div > div {
    margin: -21px 0 0 0;
    padding: 20px;
}
.artist-widgets-list .icon-button {
    right: 16px;
    position: absolute;
    top: 14px;
    z-index: 1;
}
.artist-widgets-list .icon-button:first-of-type { /* Järjestä widgettejä */
    right: 52px;
}
.artist-widgets-list .empty .icon-button { /* Lisää widgetti */
    position: static;
    float: left;
    margin-top: 13px;
}
.artist-widgets-list > .icon-button {
    left: 0;
    top: 0;
}
.slot {
    min-height: 45px;
}
.twitter-feed .widget-main {
    overflow: hidden;
}
.twitter-feed iframe {
    width: 100% !important;
    margin-top: -57px !important;
}
/* </artistisivu> */

/* -- app-forum.css --------------------------------------------------------- */
.topic-list a {
    font-size: 16px;
    line-height: 16px;
}
.topic-list tbody tr:first-of-type a {
    color: #445860;
}
.topic-list tbody tr:first-of-type td {
    padding-top: 12px;
}
.topic-list tbody tr:last-of-type td {
    padding-bottom: 12px;
}


/* -- theme-light.css ------------------------------------------------------- */
/* <main-app> */
.theme-light .icon-h3 {
    border-left: 1px solid #ddd;
    background: linear-gradient(to left, #fff, #f5f5f5);
}
.theme-light .sub-nav a {
    background-color: #f5f5f5;
    color: #333;
}
.theme-light .sub-nav a.current {
    background-color: #ffffff;
}
.theme-light .artist-widgets-list > div > div {
    box-shadow: 1px 0px 2px rgba(0,0,0,0.1);
}
.theme-light .artist-widgets-list > div > div > div {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
/* </main-app> */

/* <forum> */
.theme-light .topic-list tbody tr:first-of-type a {
    color: #445860;
}
/* </forum> */